/java/mi_primer_aplicacion/nbproject/private/
/java/mi_primer_aplicacion/build/
/java/escuela_Digital/nbproject/private/
/java/clase2Java/nbproject/private/
/java/clase2Java/build/
/java/clase2Java/dist/
/java/calculadora/nbproject/private/
/java/servidor/target/
/java/miAplicacion/target/
/java/Clase22Java/nbproject/private/
/java/Clase22Java/build/
/java/calculadora/build/
/java/baseDatos/target/
/java/escuelaDigital/target/
/java/escuela_Digital/build/
